<div class='container'>

<div class='card my-5'> 
  <h3 class='card-head mx-auto my-auto'>¿Quieres confirmar tu compra?</h3>
    <button class='btn btn-primary col-4 mx-auto my-2' id='btn-buy'>Sí</button> <button class='btn btn-primary col-4 mx-auto my-2'>No</button>
  <hr>
  <div class='card-body'>
    <p> Tiempo para pagar <span id="minutes"></span>: <span id="seconds"></span></p>
  </div>
</div>

</div>

<%= javascript_include_tag 'buyBook'%>